.main_container {
  @apply pt-[500px] xl:pt-[200px] flex flex-col justify-center items-center w-[100vh] xl:w-auto md:w-auto sm:w-auto;
  .parent {
    @apply flex flex-col items-center font-bold gap-0;
    .header {
      @apply sticky flex flex-col items-center top-[58px];
    }
  }
  .heading_container {
    gap: 0;
    position: relative;
    overflow: hidden;
    z-index: 1;
  }
  .heading {
    @apply p-0 text-[120px] xl:text-[150px] lg:text-[120px] md:text-[100px] sm:text-[80px] m-0 tracking-tighter;
    position: relative;
    overflow: hidden;
    line-height: 0.8;
  }
  .sub_heading {
    @apply flex flex-col xl:flex-row  items-center xl:justify-around  xl:w-[800px] md:w-[500px] sm:w-[400px] pt-6 text-[34px] xl:text-[16px] lg:text-[15px] md:text-[12px] sm:text-[12px] text-center xl:text-start;
    .subHeading {
      @apply xl:w-[300px] w-[650px];
    }
  }
  .profile_container {
    @apply xl:pt-28 xl:pb-60  md:pb-60 pb-[25rem] pt-36;
    z-index: 2;
    .profile {
      @apply rounded-[35px] object-cover h-[800px] w-[580px] xl:h-[650px] xl:w-[500px] lg:h-[600px] lg:w-[450px] md:h-[550px] md:w-[400px] sm:h-[500px] sm:w-[350px];
      position: relative;
    }
  }
  .des_container {
    @apply flex flex-col xl:gap-20 md:gap-20  gap-[15rem];
  }
  .description {
    @apply xl:p-0 p-[20px] text-[75px] xl:text-[65px] lg:text-[50px] md:text-[45px] sm:text-[35px] flex justify-center xl:w-[1000px] w-auto items-center pt-[20px] text-center tracking-tighter;
    line-height: 1;
  }
  .work_img_container {
    @apply xl:pt-28 md:pt-28 pt-[15rem] pb-52;
    .work_img {
      @apply rounded-[35px] object-cover h-[750px] w-[600px] xl:h-[650px] xl:w-[500px] lg:h-[600px] lg:w-[450px] md:h-[550px] md:w-[400px] sm:h-[500px] sm:w-[350px];
    }
  }
  .work_container {
    @apply flex flex-col xl:gap-24 md:gap-24 gap-44 w-full xl:w-auto pl-[42px] xl:pl-0;
    .work_heading {
      @apply xl:w-[850px] w-full;
    }
    .work {
      @apply text-[78px] xl:text-[65px] lg:text-[50px] md:text-[45px] sm:text-[35px] tracking-tighter font-bold;
      line-height: 1;
    }
    .card_container {
      @apply flex justify-start min-w-[200px] xl:w-[1400px] lg:w-[900px] md:w-auto sm:w-[800px] gap-20 xl:gap-14;
      flex-wrap: wrap;

      .card {
        @apply w-[100%] xl:w-[380px] flex flex-col xl:gap-2 gap-4;
        .slno {
          @apply font-bold tracking-widest text-[36px] xl:text-[16px] lg:text-[18px] md:text-[18px] sm:text-[18px];
        }
        .title {
          @apply font-bold text-[55px] xl:text-[40px] lg:text-[32px] md:text-[28px] sm:text-[24px];
        }
        .work_description {
          @apply text-neutral-400 text-[48px] xl:text-[20px] lg:text-[18px] md:text-[18px] sm:text-[18px]  font-medium;
        }
      }
    }
  }
  .exp {
    @apply flex flex-col gap-36 pl-[30px] md:pl-[30px];
    .exp_header {
      @apply flex flex-col justify-center pt-60 w-full;
      .experience_container {
        gap: 0;
        position: relative;
        overflow: hidden;
        @apply xl:w-[900px] w-auto font-bold;
        .experience {
          @apply p-0 text-[110px] xl:text-[140px] lg:text-[120px] md:text-[100px] sm:text-[80px] m-0 tracking-tighter;
          position: relative;
          overflow: hidden;
          line-height: 0.8;
        }
      }
    }

    .exp_list {
      @apply flex justify-center flex-col pt-10;
      .exp_card {
        @apply flex flex-col gap-3 w-[800px] xl:w-[800px] md:w-auto;
        .details {
          @apply flex xl:justify-between flex-col xl:flex-row;
        }
        .title {
          @apply font-bold text-[55px] xl:text-[40px] lg:text-[35px] md:text-[30px] sm:text-[25px];
        }
        .position {
          @apply text-[38px] xl:text-[16px] uppercase font-bold text-neutral-300;
        }
        .description_exp {
          @apply text-neutral-300 border-b-[1px] border-neutral-600 text-[48px] xl:text-[18px] lg:text-[17px] md:text-[16px] sm:text-[15px] pb-6;
        }
      }
    }
  }
  .button_container {
    @apply flex pb-20;

    .resume_btn {
      @apply xl:pl-5 xl:pr-5 xl:pt-3 xl:pb-3 md:pl-3 md:pr-3 md:pt-2 md:pb-2 pl-10 pr-10 pt-6 pb-6 xl:border-white border-[1px]  border-white border-[2px] xl:rounded-3xl rounded-full font-semibold  text-[45px] xl:text-[16px] lg:text-[17px] md:text-[16px] sm:text-[15px];
    }
  }
  .footer {
    @apply pt-16 w-[100%] pl-10;
    .footer_div {
      @apply flex xl:gap-64 gap-28 xl:flex-row flex-col;
    }
    .footer_first {
      @apply order-2 xl:order-1;
    }
    .footer_second {
      @apply order-1 xl:order-2;
    }
    .name {
      @apply xl:text-[20px] md:text-[20px] lg:text-[20px] sm:text-[20px] text-[38px] font-bold;
    }
    .designation {
      @apply xl:text-[18px] md:text-[20px] lg:text-[20px] sm:text-[20px] text-[36px] text-neutral-400 font-bold pt-2 xl:w-[350px] w-[550px];
    }
    @apply bg-black flex justify-center items-center;
    .email_div {
      @apply pt-6 cursor-pointer;
      .email {
        @apply bg-white text-black xl:rounded-[25px] rounded-full xl:p-3 p-4 font-semibold flex gap-3 items-center xl:w-[250px] md:w-[250px] lg:w-[250px] sm:w-[250px]  w-[550px] text-[36px] xl:text-[16px] md:text-[15px] lg:text-[15px] sm:text-[15px];
      }
      .copy_icon {
        @apply text-gray-500;
      }
    }
    .avatar {
      @apply xl:w-[350px] xl:h-[350px] w-[650px] h-[650px];
    }
    .footer_note {
      @apply xl:text-[28px] md:text-[26px] lg:text-[25px] sm:text-[24px] text-[48px] font-bold;
    }
    .selected_projects {
      @apply xl:text-[16px] md:text-[18px] lg:text-[18px] sm:text-[18px] text-[38px] text-neutral-400 font-bold pb-6 pt-14;
    }
    .projects {
      @apply flex flex-col gap-2 font-bold xl:text-[14px] md:text-[18px] lg:text-[18px] sm:text-[18px] text-[36px];
    }
  }
}
