.main_container {
  @apply pt-[200px] flex flex-col justify-center items-center w-[100vh] xl:w-auto;
  .parent {
    @apply flex flex-col items-center font-bold gap-0;
    .header {
      @apply sticky flex flex-col items-center top-[58px];
    }
  }
  .heading_container {
    gap: 0;
    position: relative;
    overflow: hidden;
    z-index: 1;
  }
  .heading {
    @apply p-0 text-[120px] xl:text-[150px] lg:text-[120px] md:text-[100px] sm:text-[80px] m-0 tracking-tighter;
    position: relative;
    overflow: hidden;
    line-height: 0.8;
  }
  .sub_heading {
    @apply flex flex-row  items-center justify-around w-[800px] xl:w-[800px] md:w-[500px] sm:w-[400px] pt-6 text-[16px] xl:text-[16px] lg:text-[15px] md:text-[12px] sm:text-[12px];
  }
  .profile_container {
    @apply pt-28 pb-60;
    z-index: 2;
    .profile {
      @apply rounded-[35px] object-cover h-[650px] w-[500px] lg:h-[600px] lg:w-[450px] md:h-[550px] md:w-[400px] sm:h-[500px] sm:w-[350px];
      position: relative;
    }
  }
  .des_container {
    @apply flex flex-col gap-20;
  }
  .description {
    @apply text-[65px] xl:text-[65px] lg:text-[50px] md:text-[45px] sm:text-[35px] flex justify-center xl:w-[1000px] w-auto items-center pt-[20px] text-center tracking-tighter;
    line-height: 1;
  }
  .work_img_container {
    @apply pt-28 pb-52;
    .work_img {
      @apply rounded-[35px] object-cover h-[650px] w-[500px] lg:h-[600px] lg:w-[450px] md:h-[550px] md:w-[400px] sm:h-[500px] sm:w-[350px];
    }
  }
  .work_container {
    @apply flex flex-col gap-24 w-full xl:w-auto;
    .work_heading {
      @apply w-[850px];
    }
    .work {
      @apply text-[65px] xl:text-[65px] lg:text-[50px] md:text-[45px] sm:text-[35px] tracking-tighter font-bold;
      line-height: 1;
    }
    .card_container {
      @apply flex justify-start min-w-[200px] xl:w-[1400px] lg:w-[900px] md:w-[900px] sm:w-[800px] gap-14;
      flex-wrap: wrap;

      .card {
        @apply w-[100%] xl:w-[380px] flex flex-col gap-2;
        .slno {
          @apply font-bold tracking-widest;
        }
        .title {
          @apply font-bold text-[40px] xl:text-[40px] lg:text-[32px] md:text-[28px] sm:text-[24px];
        }
        .work_description {
          @apply text-neutral-400 text-[20px] xl:text-[20px] lg:text-[18px] md:text-[17px] sm:text-[16px]  font-medium;
        }
      }
    }
  }
  .exp_header {
    @apply flex flex-col justify-center pt-60 w-full;
    .experience_container {
      gap: 0;
      position: relative;
      overflow: hidden;
      @apply xl:w-[900px] w-auto font-bold;
      .experience {
        @apply p-0 text-[140px] lg:text-[120px] md:text-[100px] sm:text-[80px] m-0 tracking-tighter;
        position: relative;
        overflow: hidden;
        line-height: 0.8;
      }
    }
  }
  .exp_list {
    @apply flex justify-center items-center flex-col pt-10;
    .exp_card {
      @apply flex flex-col gap-3 w-[800px];
      .title {
        @apply font-bold  text-[40px] lg:text-[35px] md:text-[30px] sm:text-[25px];
      }
      .position {
        @apply text-[16px] uppercase font-bold text-neutral-300;
      }
      .description_exp {
        @apply text-neutral-300 border-b-[1px] border-neutral-600 text-[18px] lg:text-[17px] md:text-[16px] sm:text-[15px] pb-6;
      }
    }
  }
  .button_container {
    @apply flex justify-center items-center gap-8 pb-20;

    .resume_btn {
      @apply pl-5 pr-5 pt-3 pb-3 border-white border-[1px] rounded-3xl font-bold;
    }
  }
  .footer {
    @apply pt-16 w-[100%];
    .name {
      @apply text-[20px] font-bold;
    }
    .designation {
      @apply text-[18px] text-neutral-400 font-bold pt-2 w-[350px];
    }
    @apply bg-black flex justify-center items-center;
    .email_div {
      @apply pt-6 cursor-pointer;
      .email {
        @apply bg-white text-black rounded-[25px] p-3 font-semibold flex gap-3 items-center w-[250px];
      }
      .copy_icon {
        @apply text-gray-500;
      }
    }
    .footer_note {
      @apply text-[28px] font-bold;
    }
    .selected_projects {
      @apply text-[16px] text-neutral-400 font-bold pb-6 pt-14;
    }
    .projects {
      @apply flex flex-col gap-2 font-bold;
    }
  }
}
